<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery/jquery.js"></script>
    <script src="/javascripts/plugins.js"></script>
</head>
