<!DOCTYPE html>
<html>
  <% include common/head %>
  <body>
    <% include common/header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <% include common/footer %>
  </body>
</html>
